<nav class="navbar navbar-dark bg-inverse">
    <a class="navbar-brand">Menü</a>
    <ul class="nav navbar-nav">
        <li *ngIf="loggedIn" class="nav-item">
            <a class="nav-link" [routerLink]="['ArticleAdmin']">Artikelverwaltung</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [routerLink]="['ArticleSearch']">Artikelsuche</a>
        </li>
    </ul>
    <form class="form-inline pull-xs-right">
        <div class="container">
            <button *ngIf="!loggedIn" type="button" class="btn btn-default btn-md" data-toggle="modal"
                    data-target="#loginModal" style="color: #000101">Login
            </button>
            <button *ngIf="loggedIn" type="button" class="btn btn-default btn-md" (click)="onClickLogout()"
                    style="color: #000101">Logout
            </button>

            <!-- Modal -->
            <div class="modal fade" id="loginModal" role="dialog">
                <div class="modal-dialog">

                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 style="color: #000101">Login</h4>
                        </div>
                        <div class="modal-body">
                            <form class="form-horizontal">
                                <div class="form-group">
                                    <label for="username" style="color: #000101">Benuternamen</label>
                                    <input type="text" class="form-control" [(ngModel)]="userName" id="username"
                                           required>
                                </div>
                                <div class="form-group">
                                    <label for="password" style="color: #000101">Passwort</label>
                                    <input type="password" class="form-control" [(ngModel)]="password" id="password"
                                           required>
                                </div>
                                <br><br>
                                <button type="submit" (click)="onClickLogin()"
                                        class="btn btn-default btn-success btn-block" data-dismiss="modal">Login
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</nav>
<div>
    <br>
    <div *ngIf="loginFailure" class="alert alert-danger">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        Login gescheitert! Bitte Anmeldedaten überprüfen.
    </div>
    <div *ngIf="loggedIn" class="alert alert-success">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        Login erfolgreich!
    </div>
    <router-outlet></router-outlet>
</div>